In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

Importing CSV Data as DataFrame

In [48]:
df = pd.read_csv(r'C:\Users\Goodness\Downloads\DataSets\Cars Dataset\vehicles.csv')
data = df.copy()

MemoryError:

Show top 5 records

In [ ]:
 df.head()

Show last 5 records

In [ ]:
df.tail()

Shape of Dataset

In [ ]:
df.shape

# Dataset Information

The dataset has 426,880 rows and 26 columns. 

The columns are:
* id
* url
* region
* region url
* price	
* year	
* manufacturer	
* model	
* condition	
* cylinders
* fuel
* odometer
* title status
* transmission
* VIN
* Drive
* size	
* type	
* paint_color	
* image_url	
* description	
* county	
* state	
* lat	
* long	
* posting_date

### Checking Missing Values

In [ ]:
df.isna().sum()

### Check duplicates

In [ ]:
df.duplicated().sum()

There are no duplicated rows in the dataset.

### Check datatypes

In [ ]:
df.info()

### Checking the number of unique values in each column

In [ ]:
df.nunique()

### Check dataset stats

In [ ]:
df.describe()

The average price of the vehicles above is 75,199 and the average year is 2011. For the odometer, the average is 98,043 miles. The highest price of a vehicle here is

## Data Exploration

In [ ]:
df.head()

In [ ]:


print("Categories in 'manufacturer' variable:     ",end=" " )
print(df['manufacturer'].unique())

print("\nCategories in 'model' variable:     ",end=" " )
print(df['model'].unique())

print("\nCategories in 'condition' variable:     ",end=" " )
print(df['condition'].unique())

print("\nCategories in 'cylinders' variable:     ",end=" " )
print(df['cylinders'].unique())

print("\nCategories in 'fuel' variable:     ",end=" " )
print(df['fuel'].unique())

print("\nCategories in 'odometer' variable:     ",end=" " )
print(df['odometer'].unique())

print("\nCategories in 'title_status' variable:     ",end=" " )
print(df['title_status'].unique())

print("\nCategories in 'transmission' variable:     ",end=" " )
print(df['transmission'].unique())

print("\nCategories in 'drive' variable:     ",end=" " )
print(df['drive'].unique())

print("\nCategories in 'size' variable:     ",end=" " )
print(df['size'].unique())

print("\nCategories in 'type' variable:     ",end=" " )
print(df['type'].unique())

print("\nCategories in 'paint_color' variable:     ",end=" " )
print(df['paint_color'].unique())

In [ ]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

There are 7 numerical features and 19 categorical features in the dataset.

In [ ]:
##No of Cars below and above the average price
above_ave  = df[df['price'] > 75199]['price'].count()
below_ave = df[df['price'] < 75199]['price'].count()

print(f'Number of cars that got sold above the average price is: {above_ave}')
print(f'Number of cars that got sold below the average price is: {below_ave}')

In [ ]:
##No of Cars below and above the average odometer mileage
above_ave_mile  = df[df['price'] > 98043]['odometer'].count()
below_ave_mile = df[df['price'] < 98043]['odometer'].count()

print(f'Number of cars that got sold whose mileage is above the average mileage is: {above_ave_mile}')
print(f'Number of cars that got sold whose mileage is below the average mileage is {below_ave_mile}')

### Insight

The greater number of cars sold were below the average price, while just about 2296 cars were sold above the average price in the dataset. Also, the greater number of cars had not been used above the average mileage of 98043.

### Handling Missing Values In the dataset

Handling the missing values in the dataset and seeing what their new stats are

In [ ]:
# Drop columns with more than 50% missing values
threshold = len(df) * 0.5
df = df.dropna(thresh=threshold, axis=1)

In [ ]:
df.head()

In [ ]:
# Drop rows with missing values in crucial columns
crucial_columns = ['price', 'year', 'manufacturer', 'model', 'odometer', 'title_status', 'transmission']
df = df.dropna(subset=crucial_columns)

In [ ]:
# Impute missing values for numerical columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[numerical_cols] = df[numerical_cols].fillna(df[numerical_cols].mean())

In [ ]:
# Impute missing values for categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

In [ ]:
df.shape

In [ ]:
# Save the cleaned dataset
df.to_csv('cleaned_dataset.csv', index=False)

In [ ]:
df_subset = df.sample(frac=0.06)
#Saving subset of cleaned dataset
df_subset.to_csv('cleaned_dataset.csv', index=False)

In [ ]:
# Find the 10 highest prices
top_10_prices = df_subset.nlargest(10, 'price')

# Print the top 10 prices
print(top_10_prices['price'])